{% extends "layout.twig" %}

{% block static %}
    <link rel="stylesheet" href="./static/css/about.css">
{% endblock %}

{% block content %}
    <div class="content">

        <div class="banner pure-g">
            <div class="pure-u-2-5">
                <a href="/"><img alt="Nogoogle" src="//www.google.com/images/logos/google_logo_41.png"></a>
            </div>
            <div class="pure-u-3-5 pad-top-nm">
                <span class="font-large purple-grey">Every search saving 1 second, we will save 1,000,000+ hours per day on the earth!</span>
            </div>
        </div>

        <div class="product-container">
            <div class="product-intro">
               <p class="font-large">xGoogle.me is web company focusing on optimizing search result for end users personally.</p>
                <hr/>
               <p class="grey">Generally, we provide the exciting features for search result as follow:</p>
               <ul>
                   <li class="grey marg-v-sm">It should be updated in 2 hours. Not enough? Click 'Google' or 'Bing' button at the end to get more result.</li>
                   <li class="grey marg-v-sm">No any tracking for input keywords, text, images etc.</li>
                   <li class="grey marg-v-sm">Login is not required. Feel free to use it.</li>
               </ul>
            </div>
        </div>

    </div>
{% endblock %}

