extends layout

block content
  link(rel='stylesheet', href='/css/index.css')

  if (user)
    p You are currently logged in as #{user.username}
    p You already subsribed the following services:
  else
    .intro
      span.tagline Welcome to 
      span.tagline.important Your
      span.tagline  5 KM Zone.
      p.explain It is fast and free to get started. 
      p.explain You can see others' posts in your 5 km radius. Out of range, their posts won't show up again.
    .main-content
      .left-content
        p.content-desc Recent posts
        hr.line
      .right-content
        p.content-desc Meet people @5 KM
        hr.line

