<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}小i网 - 哎呀呀社交机器人{% endblock %}</title>

  {% block meta %}
  <meta name="description" content="北美华人第一导航网.崭新的一天,从这里开始">
  <meta name="keywords" content="导航,北美,视频,成人视频,交友,成人交友,新闻,本地社区,网上购物,求职,招聘,电影,电视剧,dating,adult dating,adult vidoe,news,local news,shopping,jobs,movie,tv,navigator">
  {% endblock %}

	<!-- Stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/site.css" />

	<!-- JavaScript codes -->
	<script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="/js/site.js" type="text/javascript"></script>

  {% block head %}
  {% endblock %}
</head>
<body>
    {% block top %}
    <div class='c-top'>
      <div class="c-top-contain">
        <div class="c-logo">
            <a href="/index">小i网</a>
        </div>
        <div class="c-navi">
            <a href="/about" class="c-navi-item">关于我们</a>
            <a href="/help" class="c-navi-item">帮助</a>
        </div>
        <div class="c-login">
            <a href="/login" class="btn btn-default c-login-item">登陆</a>
            <a href="/signup" class="btn btn-primary c-login-item">注册</a>
        </div>
        <div class="c-clear"></div>
      </div>
    </div>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block bottom %}
    {% endblock %}

    {% block footer %}
    <div class="c-footer">
        <p>© 2001 - 2014 iyaya.ca 哎呀呀社交机器人(小i网)版权所有.</p> 
    </div>
    {% endblock %}
</body>
</html>
