{% extends 'layout.html' %}

{% block title %}小i网 - 注册{% endblock %}

{% block head %}
  {% parent %}
  <link rel="stylesheet" href="/css/signup.css">
{% endblock %}

{% block content %}
<div class="c-signup">
    <form name="signup" action="/signup" method="post" class="c-signup-form">
        <div class="c-signup-item">
            <div class="c-signup-label">用户名</div>
            <div><input name="username" type="text" class="c-signup-input" value=""></div>
        </div>
        <div class="c-signup-item">
            <div class="c-signup-password">密码</div>
            <div><input name="password" type="text" class="c-signup-input" value=""></div>
        </div>
        <div class="c-signup-item">
            <div class="c-signup-label">邮箱</div>
            <div><input name="email" type="text" class="c-signup-input" value=""></div>
        </div>
        <div class="c-signup-item">
            <div class="c-signup-label"></div>
            <div><input type="submit" class="btn btn-primary c-signup-submit" value="注册"></div>
        </div>
    </form>
</div>
{% endblock %} <!-- content -->
