.premier-services {
    text-align: center;
    list-style-type: none;
}

.service-block {
    display: inline-block;
    width: 150px;
    margin: 30px;
    text-align: center;
}

.service-block a {
    text-decoration: none;
}

.intro {
    color: grey;
    margin: 20px auto;
}

.tagline {
    font-size: 30px;
}

.tagline.important {
    font-weight: bold;
    font-family: fantasy;
}

.explain {
    font-size: 20px;
    margin: 10px auto;
}

.left-content {
    width: 48%;
    display: inline-block;
}

.content-desc {
    font-size: 28px;
    color: grey;
}

.right-content {
    float: right;
    width: 45%;
    display: inline-block;
}
