.content {
    margin-top: 16%;
    margin-left: 10%;
}
.submit-button {
    margin-left: 24%;
}
#text_input {
    width: 80%;
    margin-bottom: 15px;
}
.logo {
    position: fixed;
    top:0px;
}
.key-feature {
    font-family: sans-serif;
    font-style: italic;
}
