.content {
    margin-top: 6%;
    margin-left: 10%;
}
.submit-button {
    margin-left: 24%;
}
#text_input {
    width: 80%;
    margin-bottom: 15px;
}
.logo {
    position: fixed;
    top:0px;
}
.key-feature {
    font-family: sans-serif;
    font-style: italic;
}
a.news-index {
    text-decoration: none;
}

/* unvisited link */
a.news-index:link {
    color: blue;
}

/* visited link */
a.news-index:visited {
    color: grey;
}

/* mouse over link */
a.news-index:hover {
    color: #FF00FF;
}

/* selected link */
a.news-index:active {
    color: #0000FF;
}
