{% extends "layout.twig" %}

{% block static %}
    <link rel="stylesheet" href="./static/css/about.css">
{% endblock %}

{% block content %}
    <div class="content">

        <div class="banner pure-g">
            <div class="pure-u-2-5">
                <a href="/"><img alt="xGoogle" src="./static/images/logo.png"></a>
            </div>
            <div class="pure-u-3-5 pad-top-lg">
                <span class="font-large purple-grey">Every search saving 1 second, we will save 1,000,000+ hours per day on the earth!</span>
            </div>
        </div>

        <div class="product-container">
            <div class="product-intro">
                <h1>About Us</h1>
                <hr/>
                <p class="font-large grey">xGoogle.me is focusing on optimizing search result for end users by using Google custom search engine.</p>
                <ul>
                   <li class="grey marg-v-sm">Latest content is on the top of search result. No need to navigate more pages to get latest content.</li>
                   <li class="grey marg-v-sm">No tracking or prompting of input keywords, text, images etc.</li>
                   <li class="grey marg-v-sm">Login is not required. Feel free to use it.</li>
               </ul>
            </div>
        </div>

    </div>
{% endblock %}

