{% extends "layout.twig" %}

{% block static %}
    <link rel="stylesheet" href="./static/css/contactus.css">
{% endblock %}

{% block content %}
    <div class="content">

        <div class="banner pure-g">
            <div class="pure-u-2-5">
                <a href="/"><img alt="xGoogle" src="./static/images/logo.png"></a>
            </div>
            <div class="pure-u-3-5 pad-top-lg">
                <span class="font-large purple-grey">Every search saving 1 second, we will save 1,000,000+ hours per day on the earth!</span>
            </div>
        </div>

        <div class="contactus-container">
            <h1>Contact Us</h1>
            <hr/>
            <p>Please feel free to contact us.</p>
            <p>Email: ops.liu0622@gmail.com</p>
            <p>Address: Toronto, Ontario, Canada</p>
        </div>

    </div>
{% endblock %}

