{% extends "layout.twig" %}

{% block static %}
    <link rel="stylesheet" href="./static/css/index.css">
    <script type="text/javascript" src="./static/js/index.js" ></script>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="logo">
            <img src="./static/images/logo.png">
        </div>
        
        <div class="pure-g">
            <div class="pure-u-1-6"></div>

            <div class="pure-u-2-3">
                <p class="pad-left-nm">
                    <span class="key-feature font-large">Instant</span><span class="key-feature-desc grey"> - latest result on the top,</span>
                    <span class="key-feature font-large"> Security</span><span class="key-feature-desc grey"> - no tracking or prompting.</span>
                    <span class="font-sm grey pad-left-nm">Extreme google search engine for you!</span>
                </p>
                <script>
                    (function() {
                        var cx = '007152500187517393596:a5pl-f__dfo';
                        var gcse = document.createElement('script');
                        gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                '//www.google.com/cse/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(gcse, s);
                    })();
                </script>
                <gcse:search></gcse:search>
            </div>

            <div class="pure-u-1-6"></div>
        </div>
    </div>
{% endblock %}

