{% extends "layout.twig" %}

{% block static %}
    <link rel="stylesheet" href="./static/css/privacy.css">
{% endblock %}

{% block content %}
    <div class="content">

        <div class="banner pure-g">
            <div class="pure-u-2-5">
                <a href="/"><img alt="xGoogle" src="./static/images/logo.png"></a>
            </div>
            <div class="pure-u-3-5 pad-top-lg">
                <span class="font-large purple-grey">Every search saving 1 second, we will save 1,000,000+ hours per day on the earth!</span>
            </div>
        </div>

        <div class="privacy-container">
            <div class="privacy-intro">
                <h1>Privacy & Terms</h1>
                <hr/>
                <p>We don't upload any software, modify your computer settings or serve any intrusive ads. If you see a popup ad appearing to come from our website, your Computer is most likely infected with spyware. We suggest you use a reputed Anti-Spyware and Anti-Virus software. </p>
                <p>The search result may contain content that is offensive, indecent, or otherwise objectionable, as well as content containing technical inaccuracies, typographical mistakes, and other errors. The search result may also contain material that violates the privacy or publicity rights, or infringes the intellectual property and other proprietary rights, of third parties, or the downloading, copying or use of which is subject to additional terms and conditions, stated or unstated. xGoogle.me disclaims any responsibility for any harm resulting from the use of search result.</p>
            </div>
        </div>

    </div>
{% endblock %}

